## COLLECTING DATA FROM TORONTO

In [1]:
import pandas as pd

table = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df_tor = table[0]
df_tor.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [2]:
df_tor.shape

(287, 3)

#### RENAMINGTHE COLUMNS

In [3]:
df_tor.columns = ['PostalCode', 'Borough', 'Neighborhood']
df_tor.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

### Dropping the rows with borough's value equal "Not assigned"

In [4]:
# drop rows with a borough's value equal "Not assigned"
df_tor = df_tor[df_tor.Borough != "Not assigned"].reset_index(drop=True)
df_tor.shape

(210, 3)


77 rows were dropped

### Combining rows with the same neighborhoods' code.

In [5]:

df_tor =  df_tor.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))

df_tor

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Rouge, Malvern
1          M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101        M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

## Replacing Neighborhoods "Not assigned" with the value of Borough

In [6]:
df_tor[df_tor.Neighborhood == "Not assigned"]

   PostalCode       Borough  Neighborhood
93        M9A  Queen's Park  Not assigned

In [7]:
len(df_tor.Neighborhood)

103

In [8]:
for n in range (df_tor.shape[0]):
    if df_tor.Neighborhood[n] == "Not assigned":
        df_tor.Neighborhood[n]=df_tor.Borough[n]
    
print(df_tor.Neighborhood[93])

Queen's Park

In [9]:
#Verifing if the  Neighborhood "Not assigned" were replaced
df_tor[df_tor.Neighborhood == "Not assigned"]

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

## DATAFRAME TEST

creating of the required df in the question

In [12]:
# create a new test dataframe
columns = ["PostalCode", "Borough", "Neighborhood"]
df_quest = pd.DataFrame(columns=columns)

rows = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for code in rows:
    df_quest = df_quest.append(df_tor[df_tor["PostalCode"]==code], ignore_index=True)
    
df_quest

,PostalCode,Borough,Neighborhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Woodbine Gardens, Parkview Hill"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Maryvale, Wexford"
7,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower, Bathurst Quay, Island airport, Harbo..."
10,M1B,Scarborough,"Rouge, Malvern"
11,M5A,Downtown Toronto,Harbourfront

In [22]:
df_tor.shape

(103, 3)